/Assignment70.class
/Assignment71.class
/Assignment72.class
/Assignment73.class
/Assignment74.class
/ArrayListex1.class
/ArrayListex2.class
/ArrayListex3.class
/ArrayListex4.class
/ArrayList5.class
/ArrayList6.class
/Assignment75.class
/Assignment76.class
/Assignment77.class
/Assignment78.class
/ArrayListex7.class
/ArrayListex8.class
/ArrayListex9.class
/unionof2lists.class
/ArrayListex10.class
/IntersectionofList.class
/evenSum.class
/Assignment79.class
/Assignment80.class
